/*styles go here*/
/*p {color: red;}*/
img {border: none;}
p {color: black; font-family: 'Merriweather', serif;
font-family: 'Merriweather Sans', sans-serif;}
h1 { font-family: 'Merriweather', Georgia, "Times New Roman", serif;}
body {background-color: #ebe3c3;}
#container { margin: auto;}
.caption {font-family: Georgia, "Times New Roman", serif;
font-style: italic;
text-align: right;
margin-top: 5px;}
#nav {padding: 0; display: flex; flex-direction: row; flex-wrap: wrap;
justify-content: center; flex-basis: auto;}
#nav li {list-style-type: none;}
#nav a:link {display: flex; color: #ffffff; background-color: #98bf21;
font-weight: bold; text-align: center; font-family: Helvetica, Arial, sans-serif;
padding: 4px; text-decoration: none;}
#nav a:hover, #nav a:active {background-color: #7a991a; text-decoration: underline;}
.cards {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    gap: 20px;
    /*grid-column-gap: 10px;
    grid-row-gap: 25px; */
}

.cards li {
    background-color: #f1b82d;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;}
    image {
        display: block;
    }
    @media screen and (min-width:600px) {
        img {
        float:left;
        }
    }
